*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.favorite-body{
    width: 100%;
    height: 100vh;
    padding: 2%;
    overflow-y: scroll;
    /* border: 2px solid red; */
}

.favorite-content-div{
    width: 100%;
    height: 45%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    border-radius: 20px;
    background: rgb(6,4,88);
    background: linear-gradient(90deg, rgb(5, 4, 88) 0%, rgb(7, 91, 80) 100%);
        /* border: 2px solid purple; */
}

.favorite-heart-image-div{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: rgb(4,24,54);
    background: linear-gradient(90deg, rgba(4,24,54,1) 0%, rgba(80,7,91,1) 100%);
    /* border: 2px solid pink; */
}

/* heart Animation Start */

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    /* animation: heartbeat 1s infinite; */
    margin:0 auto;
    color:red;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}



@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

/* heart Animation End */

.favorite-info-div{
    width: 70%;
}

.favorite-content-div .liked-heading{
    font-size: 7rem;
}

.favorite-info-div .profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
}



/* favorite-tracks start */

.favorite-tracks{
  width: 100%;
  /* border: 2px solid rgb(0, 255, 55); */
}




